
/bin-debug/Main.html
/bin-debug/Main.swf
/bin-debug/swfobject.js
/bin-release/Main.swf
/html-template/index.template.html
/html-template/swfobject.js
/.actionScriptProperties
/.project
/.settings/org.eclipse.core.resources.prefs